@{
    ViewData["Title"] = "Account Page";
}

    <head>
        <link rel="stylesheet" href="~/lib/Sitecss/site.css">
    </head>
    
        <div class="switch">
            Enable Dark Mode:
            <span class="inner-swtich">OFF</span>
        </div>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="~/lib/js/DarkMode.js"></script>
    





