@{
    ViewData["Title"] = "Contact Page";
}






<body>

    <h1 >Contact</h1>

    <p>
        Developer Email And Phone Number
        <ul>
            <li>
                Robert Lowry: lowryrob2001@gmail.com | 253-232-4510
            </li>
            <li>
                Evan Kelly: evanjkelly123@gmail.com | 253-226-9693
            </li>
        </ul>
    </p>
    
</body>
