@model QuatorProjectVIdeoPlayer.Models.Video

@{
    ViewData["Title"] = "uploadVideo";
}

<h1>Upload a Video</h1>


<hr />
@*<div class="row">
    <div class="col-md-4">
*@
<form asp-action="uploadVideo" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<dl>
            <dt>
                <label for="FileUpload_FormFile">File</label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile" type="file"
                       name="FileUpload.FormFile" />
            </dd>
        </dl>


        <div style="margin-top:15px">
            <output name="result"></output>
        </div>

    <link href="~/js/VideoViewer.js" rel="stylesheet">


    
        
        <dl>
            <dt>
                <label asp-for="ThumbnailUrl" class="control-label" style="width:350px;"></label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile" type="file"
                       name="FileUpload.FormFile" />
            </dd>
        </dl>
        <dl>
            <dd>
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>

            </dd>
        </dl>
    </div>
    <br />*@
    <div class="form-group" style="width:400px;">
        <label asp-for="VideoTitle" class="control-label"></label>
        <input asp-for="VideoTitle" class="form-control" />
        <span asp-validation-for="VideoTitle" class="text-danger"></span>
    </div>
    @*This is where video upload will go
    <div class="form-group">
        <label asp-for="VideoTitle" class="control-label"></label>
        <input asp-for="VideoTitle" class="form-control" />
        <span asp-validation-for="VideoTitle" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <label asp-for="Thumbnail" class="control-label"></label>
        <input type="file" name="thumbnail" />
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Account" asp-action="MyVideos">Back to My Videos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}