@model QuatorProjectVIdeoPlayer.Models.Video

@{
    ViewData["Title"] = "uploadVideo";
}

<h1>Upload a Video</h1>


<hr />
@*<div class="row">
    <div class="col-md-4">
*@
<form asp-action="uploadVideo">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form action="BufferedSingleFileUploadPhysical/?handler=Upload"
          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
          method="post">
        <dl>
            <dt>
                <label for="FileUpload_FormFile">File</label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile" type="file"
                       name="FileUpload.FormFile" />
            </dd>
        </dl>


        <div style="margin-top:15px">
            <output name="result"></output>
        </div>
    </form>

    <link href="~/js/VideoViewer.js" rel="stylesheet">


    <div class="form-group">
        <dt>
            <label asp-for="Thumbnail" class="control-label" style="width:350px;"></label>
        </dt>
        <dl>

            <dd>
                <input id="FileUpload_FormFile" type="file"
                       name="FileUpload.FormFile" />
            </dd>
        </dl>
        <dl>
            <dd>
                <span asp-validation-for="Thumbnail" class="text-danger"></span>

            </dd>
        </dl>
    </div>
    <br />
    <div class="form-group" style="width:400px;">
        <label asp-for="VideoTitle" class="control-label"></label>
        <input asp-for="VideoTitle" class="form-control" />
        <span asp-validation-for="VideoTitle" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>


</form>
@* </div>
    </div>
*@

<div>
    <a asp-controller="Home" asp-action="MyVideos">Back to My Videos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}