@model IEnumerable<Video>

@{
    ViewData["Title"] = "Account Page";
}
<style>
    h1 {
        margin-left: 41.5%;
        float: left;
    }

    #upload {
        margin-left: 34.5%;
    }

    .temporary {
        text-align: center;
        margin-top: 25px;
    }
</style>

<h1>My Videos</h1>

<a asp-controller="Video" asp-action="uploadVideo"><button class="btn btn-primary" id="upload">Upload</button></asp-controller="Video"> </a>

@foreach (var i in Model)
{
    <a asp-controller="Video" asp-action="VideoViewer">
        <img src="/@i.ThumbnailUrl" />
    </a>
}

<p class="temporary">Your videos will go here</p>
