@inject Microsoft.AspNetCore.Http.IHttpContextAccessor sessionData
@using QuatorProjectVIdeoPlayer.Data;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type=" text/css " href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Sitecss/site.css" />
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
    @if (AccountDb.CheckDarkMode(sessionData))
    {
    <link rel="stylesheet" href="~/css/darkMode.css" />
    }
    @RenderSection("Head", required: false)
</head>
<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li>Soar </li>
            <li><a asp-controller="Account" asp-action="Account">Account</a></li>
            <li><a asp-controller="Account" asp-action="MyVideos">My Videos</a></li>
            <li><a asp-controller="Account" asp-action="AccountSettings">Settings</a></li>

            </ul>
        </div>

        <div class="topnav" id="myTopnav">
            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-controller="Home" asp-action="About">About</a>
            @if (SessionHelper.IsLoggedIn(sessionData))
            {
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Register">Register</a>
                <a asp-controller="Account" asp-action="Login">Login</a>
            }
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - QuartorProjectVideoPlayer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
